extends layouts/admin

block content
	div(ng-controller="AdminController")
		md-toolbar(layout="row",class="md-hue-3")
			div.md-toolbar-tools
				span All Puns ({{puns.length}})

		md-content
			md-list()
				md-list-item(flex, layout="row", ng-repeat="pun in puns")
					
					div(flex) {{pun.content}}
					div(flex) {{pun.from}}
					
					div.controls
						md-switch(
							ng-model="pun.disabled"
							ng-change="updatePun(pun)"
						) {{pun.disabled ? 'Disabled' : 'Enabled'}}
						//- md-button.md-raised.md-warn(ng-click="deletePun(pun)") Delete

				
		
