extends layouts/slideshow

block content
	div.slideshow(ng-controller="SlideshowController")
		header
			h1.night-hotel JedWed<br>BandNames
		div.main
			div.example-pun(ng-show=" !currentPun ") e.g. Wedonna
			div.pun(ng-show="currentPun")
				div.content {{currentPun.content}}
				div.from {{currentSenderId}}
			//- pre.all {{puns | json}}

		footer 
			div.instructions
				span Text {{numbersToText[0]}}
			div.status 
				span.new(ng-show=" (newCount > 0) ") {{newCount}} unseen
				
		
