doctype html
html
	head
		title= title
		link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Acme|Amatic+SC|Freckle+Face|Gloria+Hallelujah|VT323')
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src='/components/moment/min/moment.min.js')
		script(src='/components/angular/angular.min.js')
		script(src='/components/angular-messages/angular-messages.min.js')
		script(src='/components/angular-aria/angular-aria.min.js')
		script(src='/components/angular-animate/angular-animate.min.js')
		script(src='/components/angular-material/angular-material.min.js')

		

		script(src='/javascripts/app.js')
		script(src='/javascripts/controllers/SlideshowController.js')
	
	body(ng-app="smswall")
		block content
